.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.mypage-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mypage {
  font-size: 30px;
  font-weight: 600;
  padding: 30px 0;
}

.mypageInfo {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 30px;
  width: 500px;
}

.userInfo {
  margin: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
}

.mypage_Info {
  padding: 15px;
}
.infoChangeBtn {
  cursor: pointer;
}

.mypageNav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.mypageNav a {
  border: 1px solid #d5d9d9;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}
.navlink {
  width: 200px;
}
