<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="mypage.css" />
    <script src="mypage.js" type="module" defer></script>
    <link rel="stylesheet" href="../header/header.css" />
    <script src="../header/header.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <section id="headerNav">
        <nav role="navigation" aria-label="main navigation">
          <ul id="navbar" class="navbar"></ul>
        </nav>
      </section>
    </header>

    <section class="mypage-container">
      <div class="mypageInfo">
        <h1 class="mypage">마이페이지</h1>
        <div class="userInfo">
          <span id="userName"></span>
          <span id="userEmail"></span>
          <span id="userAdd"></span>
          <span id="userPhonenum"></span>
        </div>
      </div>
      <div class="mypageNav">
        <a href="/mypage/security">정보수정</a>
        <a href="/mypage/signout">계정삭제</a>
        <a href="/mypage/orderlist">주문조회</a>
        <a href="/adminPage">관리자</a>
      </div>
    </section>
  </body>
</html>
