<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="itemList.css" />

    <script src="itemList.js" type="module"></script>
  </head>
  <body>
    <header>header</header>
    <nav class="category_container">
      <button id="category_1" data-num="남성"><a href="#">손님</a></button>
      <button id="category_2" data-num="여성"><a href="#">사장님</a></button>
    </nav>
    <section class="itemlist_container" id="itemlist_section">
      <div class="itemlist_flexbox" id="itemlist_flexbox"></div>
    </section>
  </body>
</html>
