<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="adminPage.css" />
    <script src="adminPage.js" type="module"></script>
  </head>
  <body>
    <div class="adminPage_container">
      <aside class="menu menu_container">
        <p class="menu-label">Admin Menu</p>
        <p class="menu-label">상품 추가/수정/삭제</p>
        <ul class="menu-list">
          <li><a>상품 등록하기</a></li>
          <li><a>상품 수정하기</a></li>
          <li><a>상품 삭제하기</a></li>
        </ul>
        <p class="menu-label">주문 조회</p>
        <ul class="menu-list">
          <li><a href="adminOrderPage.html">주문 조회/취소</a></li>
          <li><a></a></li>
        </ul>
      </aside>
      <div class="adminPage_content">
        <form action="">
          <div class="field">
            <label class="label">상품명</label>
            <div class="control">
              <input class="input is-success" type="text" placeholder="Text input" value="" />
            </div>
          </div>
          <div class="field">
            <label class="label">가격</label>
            <div class="control">
              <input class="input is-success" type="text" placeholder="Text input" value="" />
            </div>
          </div>
          <div class="field">
            <label class="label">이미지url</label>
            <div class="control">
              <input class="input is-success" type="text" placeholder="Text input" value="bulma" />
            </div>
          </div>
          <div class="field">
            <label class="label">카테고리</label>
            <div class="control">
              <input class="input is-success" type="text" placeholder="Text input" value="bulma" />
            </div>
          </div>
          <div class="field">
            <label class="label">제조사</label>
            <div class="control">
              <input class="input is-success" type="text" placeholder="Text input" value="bulma" />
            </div>
          </div>
          <div class="field">
            <label class="label">상품 설명</label>
            <div class="control">
              <textarea class="textarea is-primary" placeholder="Primary textarea"></textarea>
            </div>
          </div>
          <button class="button is-link">상품 추가</button>
        </form>
      </div>
    </div>
  </body>
</html>
