body {
  margin: 0;
  max-width: 96%;
  font-family: "Noto Sans KR", sans-serif;
}

.adminPage_nav {
  display: flex;
  flex-direction: column;
  border-right: solid 1px gray;
  width: 15%;
  gap: 30%;
}
.menu_container {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 5%;
  gap: 5%;
}
.adminPage_container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 3%;
}

.adminPage_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5%;
  height: 90vh;
  width: 90vw;
  overflow: scroll;
  padding-top: 25px;
}

.adminPage_list {
  font-size: medium;
  display: flex;
  flex-direction: column;
}

.thead {
  text-align: center;
}

.menu-label {
  font-weight: 700;
  font-size: 18px;
}

.menu_container {
  margin-left: 2%;
}

.menu_container .button {
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  color: #9b9b9b;
}

.table caption {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding: 5px;
}

.is-selected {
  background-color: #9b9b9b !important;
}

.module_title {
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.form_container {
  width: 50%;
}

.searchSection .control {
  display: flex;
  flex-direction: row;
}

#cancelBtn {
  cursor: pointer;
  background-color: #f5f4f3;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.input-container #img {
  width: 90vw;
}

.categoryField {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
