.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
}

.mypageInfo {
  margin: 30px;
}

.mypage {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.infoChangeBtn {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
