<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>먹짱 | 주문조회</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/파비콘1.png" />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="orderlist.css" />
    <script src="orderlist.js" type="module" defer></script>
    <link rel="stylesheet" href="../../header/header.css" />
    <script src="../../header/header.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <section id="headerNav">
        <nav role="navigation" aria-label="main navigation" class="navbarBox">
          <ul id="navbar" class="navbar"></ul>
        </nav>
      </section>
    </header>

    <section class="orderlistpage-container">
      <div class="orderlistpageInfo">
        <h1 class="orderlistpage">주문조회</h1>
        <div id="orderlist-container" class="orderlist-container">
          <div class="orderlist-standard orderlist-info">
            <span>날짜</span>
            <span>주문정보</span>
            <span>수량</span>
            <span>가격</span>
            <span>상태</span>
            <span>신청</span>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
