/* main */
.orderTitle {
  font-size: 30px;
  padding: 50px 0 10px 20px;
  font-weight: bolder;
}
.orderContainer {
  min-height: 300px;
}
.userInfo {
  font-size: 15px;
  font-weight: 300;
}
.field {
  padding: 20px;
  width: 800px;
}

.payInfo {
  width: 300px;
  min-height: auto;
  padding: 20px;
  margin: 50px 50px 50px 0;
  border: 2px solid #b4e197;
  line-height: 40px;
  float: right;
}

.payInfo .payInfoTitle {
  font-size: 25px;
  font-weight: 300;
}

/* footer */
footer {
  clear: both;
}

footer .footer {
  font-size: small;
  line-height: 200%;
  padding: 0 0 10px 20px;
  background-color: #e9efc0;
}

.footer .companyName {
  font-size: medium;
  font-weight: bold;
  line-height: 300%;
}
