/* header */
nav ul {
  height: 20px;
  text-align: right;
  padding: 10px;
}
nav ul li {
  display: inline-block;
}
nav ul li:last-child {
  margin-right: 0;
}
.pageTop h2 {
  font-size: 35px;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: bolder;
  color: #4E944F;
}

/* main */
.complete {
  display: flex;
  flex-direction: column;
}
.completeMessage {
  text-align: center;
  padding: 150px 0 20px 0;
}
.orderList {
  display: block;
  margin: 0 auto;
}
.orderList:hover {
  cursor: pointer;
}