<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>먹거리 장터 먹짱</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="30x30" href="./images/icon.png" />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="header.css" />
    <script src="header.js" type="module" defer></script>
    <!-- <script src="../header/header.js" type="module" defer></script> -->
  </head>
  <body>
    <header>
      <section id="header">
        <nav role="navigation" aria-label="main navigation">
          <ul id="navbar"></ul>
        </nav>
        <div class="pageTop">
          <a href="/" class="brand">
            <img src="../elice-rabbit.png" />
            <span id="title"><span class="subTitle">먹거리장터</span>먹짱</span>
          </a>
        </div>
      </section>
    </header>
    <!--메인-->
    <!-- <section class="section">
      <div class="sliderContainer">
        <div class="sliderArrowContainer">
          <button class="sliderArrowLeft">
            <span class="icon is-large">
              <i class="fas fa-chevron-left fa-2x" aria-hidden="true"></i>
            </span>
          </button>
          <button class="sliderArrowRight">
            <span class="icon is-large">
              <i class="fas fa-chevron-right fa-2x" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div id="slider">
          <div class="slides">
            <div class="slide active">
              <a href="/" target="_self">
                <img src="./images/도매.jpg" alt="도매 카테고리로 이동" />
              </a>
            </div>
            <div class="slide">
              <a href="/" target="_self">
                <img src="./images/소매.jpg" alt="소매 카테고리로 이동" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section> -->
  </body>
</html>
