@import url('https://font.elice.io/EliceDigitalCoding.css');

header {
  background-color: #e9efc0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
}

.headerNav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.navbarBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: #e9efc0;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  gap: 30px;
  height: 50px;
  padding: 15px 30px;
}

.navbar a {
  color: #4e944f;
}
.navbar a:hover {
  color: black;
}

.mainlogo {
  position: absolute;
  top: 10px;
  left: 30px;
}
.logoStyle {
  font-size: 24px;
  font-family: 'Bungee Shade', cursive;
  color: #4e944f;
}
.logoTitle {
  font-family: 'Bungee Shade', cursive;
  color: #4e944f;
  font-size: 60px;
}

.pageTop {
  height: 100%;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #4e944f;
}
.brand img {
  height: 40px;
  vertical-align: middle;
}
header #title {
  color: #4e944f;
}
header .subTitle {
  font-size: 30px;
}

.Category {
  margin: 0 0 10px 200px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.catebtn {
  padding: 0 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #4e944f;
}
.catebtn:hover {
  color: #e9efc0;
  background-color: #83bd75;
  border-radius: 10px;
  box-sizing: border-box;
}
