@import url("https://font.elice.io/EliceDigitalCoding.css");

header {
  background-color: #e9efc0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}

.headerNav {
  display: flex;
  flex-direction: column;
}
.navbarBox {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: #e9efc0;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  gap: 30px;
  height: 50px;
  padding: 15px 30px;
}

.mainlogo {
  position: absolute;
  top: 10px;
  left: 20px;
}
.logoStyle {
  font-size: 24px;
  font-family: "Bungee Shade", cursive;
  color: #4e944f;
}

.pageTop {
  height: 100%;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #4e944f;
}
.brand {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
}
.brand img {
  height: 40px;
  vertical-align: middle;
}
header #title {
  color: #4e944f;
}
header .subTitle {
  font-size: 30px;
}

.catebtn {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #4e944f;
}
.catebtn:hover {
  color: black;
}
