<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>먹짱 | 홈</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/파비콘1.png" />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
    <link rel="stylesheet" href="../header/header.css" />
    <script src="../header/header.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <section id="headerNav" class="headerNav">
        <nav role="navigation" aria-label="main navigation" class="navbarBox">
          <ul id="navbar" class="navbar"></ul>
        </nav>
        <div class="pageTop">
          <a href="/" class="brand">
            <span class="logoTitle">m</span>
            <!-- <span id="title"><span class="subTitle">먹거리장터</span>먹짱</span> -->
          </a>
        </div>
        <div class="Category">
          <button id="category1" class="catebtn">도매</button>
          <button id="category2" class="catebtn">소매</button>
        </div>
      </section>
    </header>
    <!--메인-->
    <main role="main" class="main">
      <section class="slider">
        <button class="imgBtn left"><i class="fas fa-chevron-left fa-2x" aria-hidden="true"></i></button>
        <ul class="slides">
          <li class="slide"><img class="img" id="categoryBig" src="../배너1.PNG"></li>
          <li class="slide"><img class="img" id="categorySmall" src="../배너2.PNG"></li>
        </ul>
        <button class="imgBtn right"><i class="fas fa-chevron-right fa-2x" aria-hidden="true"></i></button>   
      </section>
    </main>
  </body>
</html>
