<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>먹거리 장터 먹짱</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="30x30" href="./images/icon.png" />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav role="navigation" aria-label="main navigation">
      <ul id="navbar">
        <!-- <li><a href="/login">로그인</a></li> -->
        <!-- <li><a href="/register">회원가입</a></li> -->

        <li><a href="/itemlist">shop</a></li>
      </ul>
    </nav>
    <header>
      <div class="pageTop">
        <a href="/" class="brand">
          <img src="./images/로고.jpg" />
          <span id="title"><span class="subTitle">먹거리장터</span>먹짱</span>
        </a>
      </div>
    </header>
    <!--메인-->
    <section class="section">
      <div class="sliderContainer">
        <div class="sliderArrowContainer">
          <button class="sliderArrowLeft">
            <span class="icon is-large">
              <i class="fas fa-chevron-left fa-2x" aria-hidden="true"></i>
            </span>
          </button>
          <button class="sliderArrowRight">
            <span class="icon is-large">
              <i class="fas fa-chevron-right fa-2x" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div id="slider">
          <div class="slides">
            <div class="slide active">
              <a href="/" target="_self">
                <img src="./images/도매.jpg" alt="도매 카테고리로 이동" />
              </a>
            </div>
            <div class="slide">
              <a href="/" target="_self">
                <img src="./images/소매.jpg" alt="소매 카테고리로 이동" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer">
        <p class="companyName">(주)사팀</p>
        <p>
          사업자 등록번호: 000-00-00000 | 통신판매업 신고번호:
          제0000-0000-00000호 | 대표: 이준서
        </p>
        <p>
          주소: 서울시 강남구 테헤란로 53길 16 B1 데마코홀 | 이메일:
          team4@elice.io | 고객센터: 1588-0000
        </p>
      </div>
    </footer>
  </body>
</html>
