/* header */
.pageTop h2 {
  font-size: 35px;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: bolder;
  color: #4e944f;
}

/* main */
.main {
  font-family: 'Noto Sans KR', sans-serif;
}
.cartTitle {
  font-size: 25px;
  padding: 50px 0 10px 50px;
  font-weight: bolder;
}
.cartInfoContainer {
  display: flex;
  min-height: 300px;
  gap: 20px;
}
.cartList {
  padding: 3px;
  border: 2px solid #b4e197;
  border-radius: 5px / 5px;
  margin: 0 0 30px 20px;
  flex-basis: 70vw;
}
.payContainer {
  flex-basis: 30vw;
}
.deleteSom, 
.deleteAll, 
.trash {
  background-color: #b4e197;
  border: none;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.deleteSom, 
.deleteAll, 
.trash,
.ckeckbox:hover{
  cursor: pointer;
}
.deleteButtons {
  display: flex;
  padding: 10px 0 0 10px;
  gap: 10px;
}

.empty {
  text-align:center;
  font-size: 40px;
  padding-top: 50px;
}
.PayContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 25vw;
  gap: 10px;
}

.payInfo {
  min-height: auto;
  padding: 20px;
  border: 2px solid #b4e197;
  border-radius: 5px / 5px;
  line-height: 40px;
}
.payInfoTitle {
  font-size: 25px;
  font-weight: 300;
}
#ordering {
  background-color: #4e944f;
  color: white;
  padding: 40px 0;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.item .itemInfo:nth-child(1) {
  flex-basis: 5%;
}
.item .itemInfo:nth-child(2) {
  flex-basis: 10%;
}
.item .itemInfo:nth-child(4) {
  flex-basis: 25%;
  text-align: center;
}
.item .itemInfo:nth-child(5) {
  flex-basis: 20%;
}

.item a img {
  max-width: 80px;
}
.item a .title {
  font-size: 17px;
  font-weight: 400;
}
.itemInfo_btn_updown {
  display: flex;
  flex-direction: row;
}
.itemInfo_btn_updown .input {
  text-align: center;
}
.fa-trash-can {
  pointer-events: none;
}