/* 앨리스배움체 */
@import url("https://font.elice.io/EliceDigitalCoding.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E9EFC0;
  font-family: 'Elice Digital Coding', 'monospace'; 
  color: #4a4a4a;
  text-decoration: none;
}

/* header */
nav ul {
  height: 20px;
  text-align: right;
  padding: 10px;
}
nav ul li {
  display: inline-block;
}
nav ul li:last-child {
  margin-right: 0;
}
.pageTop h2 {
  font-size: 35px;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: bolder;
  color: #4E944F;
}

/* main */
.cartTitle {
  font-size: 20px;
  padding: 50px 0 10px 50px;
  font-weight: bolder;
}
.cartInfoContainer {
  min-height: 300px;
}
.cartList {
  padding: 40px;
  margin: 10px 10px 50px 50px;
  border: 2px solid #B4E197;
  width: 800px;
  float: left;
}

.item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-basis: 0;
  gap: 30px;
  margin: 10px;
}
.item .itemInfo:nth-child(1) { flex-grow: 1; }
.item .itemInfo:nth-child(2) { flex-grow: 3; }
.item .itemInfo:nth-child(4) { flex-grow: 1; }
.item .itemInfo:nth-child(5) { flex-grow: 1; }

.item a img {
  max-width: 70px;
  max-height: 70px;
}
.itemInfo_btn_updown {
  display: flex;
  flex-direction: row;
}
.itemInfo_btn_updown .input {
  text-align: center;
}
.fa-trash-can {
  pointer-events: none;
}

.payInfo {
  width: 300px;
  min-height: auto;
  padding: 20px;
  margin: 50px 50px 50px 0;
  border: 2px solid #B4E197;
  line-height: 40px;
  float: right;
}

.payInfo .payInfoTitle {
  font-size: 25px;
  font-weight: 300;
}

/* footer */
footer {
  clear: both;
}

footer .footer {
  font-size: small;
  line-height: 200%;
  padding: 0 0 10px 20px;
  background-color: #E9EFC0;
}

.footer .companyName {
  font-size: medium;
  font-weight: bold;
  line-height: 300%
}
