.itemInfo_container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  gap: 10%;
  padding-top: 50px;
}

.itemInfo_information {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.itemInfo_btn {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.itemInfo_img_container {
  width: 50%;
}

.itemInfo_img_container img {
  width: 100%;
  border-radius: 3%;
}

.itemInfo_description {
  padding-bottom: 20px;
}
.itemInfo_btn {
  display: flex;
  flex-direction: column;
}
.itemInfo_btn_updown {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.input {
  text-align: center;
  height: 100%;
  font-weight: 700 !important;
  font-size: 20px;
}

.item_manufacturer {
  color: #656e75;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.item_title {
  font-size: 40px;
  font-weight: 700;
}

.item_price {
  font-size: 30px;
  font-weight: 700;
}
.itemInfo_cartBuy_Btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.itemInfo_cartBuy_Btn .buyCart {
  width: 49%;
  font-weight: 700;
}
