<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>먹짱ㅣ상품 상세 페이지</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/파비콘1.png" />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="itemInfo.css" />
    <script src="itemInfo.js" type="module"></script>
    <script src="quantityControlBox.js" type="module"></script>
    <link rel="stylesheet" href="../header/header.css" />
    <script src="../header/header.js" type="module" defer></script>
  </head>
  <body>
    <header>
      <section id="headerNav" class="headerNav">
        <nav role="navigation" aria-label="main navigation" class="navbarBox">
          <ul id="navbar" class="navbar"></ul>
        </nav>
        <div class="pageTop">
          <a href="/" class="brand">
            <img src="../elice-rabbit.png" />
            <span id="title"><span class="subTitle">먹거리장터</span>먹짱</span>
          </a>
        </div>
        <div class="category">
          <button id="category1" class="catebtn">도매</button>
          <button id="category2" class="catebtn">소매</button>
        </div>
      </section>
    </header>
    <nav class="category_container"></nav>
    <section class="itemInfo_container" id="itemInfo_section"></section>
  </body>
</html>
